<!DOCTYPE html>
<html lang="en">
<section class='contact'>
    <div class="container">
        <div class="row">
             <div class="box col-md-offset-1 col-md-10">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact <strong>Raine</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <%= image_tag "chiro6.jpeg"%>
                </div>
                <div class="col-md-4">
                    <p>Phone: <strong>+358407303821</strong>
                    </p>
                    <p>Email: <strong>raine.makela@pp1.inet.fi</strong>
                    </p>
                    <p>Address: <strong>Pyolovuorentie 101<br>32700 Huittinen<br>Finland</strong>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box col-md-offset-1 col-md-10">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact <strong>form</strong>
                    </h2>
                    <hr>
                    <p>This contact form is just the form elements, it is not a working form. You will have to make the form work by yourself, or take it out if you can't figure out how to make it work.</p>
                    <%= form_tag('/contact/contact', role: 'form') do %>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Name</label>
                                <input type="text" name='name' class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Email Address</label>
                                <input type="email" name='email' class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Phone Number</label>
                                <input type="tel" name='phone' class="form-control">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <label>Message</label>
                                <textarea class="form-control" name='message' rows="6"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    

</body>
</section>
</html>
